@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&family=Kablammo&family=Lugrasimo&family=MedievalSharp&family=Sofadi+One&family=Titillium+Web&display=swap');

:root {
    --primary-color: #55DDE0;
    --secondary-color: #33658A;
    --accent1-color: black;
    --accent2-color: white;

    --heading-font: 'Fredericka the Great', serif;
    --paragraph-font: 'Titillium Web', serif;

    --nav-background-color: #55DDE0;
    --nav-link-color: black;
    --nav-hover-link-color: #33658A;
    --nav-hover-background: white;
}

body {
    display: grid;
    /* grid-template-columns: auto; */
    font-family: var(--paragraph-font);
    max-width: 960px;
    /* padding: 1%; */
    /* margin: 1%; */
    color: var(--accent2-color);
    /* justify-content: center; */
}

main {
    display: grid;
    grid-gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 1%;
    background-color: var(--secondary-color);
}

p {
    padding: 2%;
}

img {
    max-width: 100%;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-color);
    padding-left: 1em;
    padding-right: 1em;
}

footer p {
    grid-column-start: 2;
}

footer a {
    text-decoration: none;
    /* grid-column-start: 3; */
}


header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1em;
    justify-items: center;
    align-items: center;
    background-color: var(--secondary-color);

}

header nav {
    display: flex;
    font-size: 1.2rem;
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
}

header nav a {
    flex: 1;
    min-width: 8em;
    border: 1px solid black;
    align-content: center;
    text-align: center;
    text-decoration: none;
}

header nav a:link, header nav a:visited {
    color: var(--nav-link-color)
}

header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background);
}

section img {
    max-width: 100%;
    height: auto;
}


.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--secondary-color);
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 1em;
    grid-column-gap: 1em;
}

.history h2 {
    grid-column: span 3;
}


div.hero {
    position: relative;
}

.hero h1 {
    width: 98%;
}

.about {
    position: absolute;
    width: 100%;
    text-align: center;
    /* text-shadow: 2px 2px 5px var(--secondary-color); */
    top: 0;
    z-index: 1;
}
article {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 55%;
    z-index: 1;
    background-color: #33648ad9;
}


article img {
    display: block;
    width: 35%;
    padding: 2%;
    height: auto;
    float: right;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--secondary-color);
    text-align: center;
    align-items: center;
    justify-items: center;
}

.adventure h2 {
    grid-column: span 5;
}

.adventure figure {
    width: 80%;
}

form {
    display: grid;
    justify-items: center;
}

fieldset {
    background-color: var(--secondary-color);
    border: none;
}

fieldset div {
    padding: 1em;
    width: 100%;
}

textarea {
    width: 35em;
}

button {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5em;
    background-color: var(--primary-color);
}

button:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background);
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #33658A;
}

.employees {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--secondary-color);
    text-align: center;
    border-top: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.employees h2{
    grid-column-start: 1;
    grid-column-end: 5;
}

.wireframe {
    background-color: var(--accent2-color);
}



/* trips */

.trips {
    color: var(--secondary-color);
}

.trips h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.trips div {
    /* display: block; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}

.trips a {
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    position: absolute;
    width: 10em;
    font-size: 2rem;
    z-index: top;
    /* left: 25%; */
    justify-self: center;
    top: 40%;
    border-radius: 20em;
    border: 5px dotted var(--accent2-color);
}

.trips a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background);
    border-color: var(--primary-color);
}

.trips img {
    max-height: 20em;
    justify-self: center;
    border: 15px dashed var(--primary-color);
}




table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-bottom: 2em;
}

caption {
caption-side: top;
padding: 10px;
font-weight: bold;
}

thead {
background-color: rgb(228 240 245);
}

th,
td {
border: 1px solid rgb(160 160 160);
padding: 8px 10px;
}

td:last-of-type {
text-align: center;
}

tbody > tr:nth-of-type(even) {
background-color: rgb(237 238 242);
}
  


.home {
    color: var(--secondary-color);
}

.home h2 {
    background: none;
    color: var(--secondary-color);
}

.home h1 {
    position: absolute;
    background-color: #33648a88;
    border-radius: 10px;
    color: var(--accent2-color);
    text-shadow: 1px 1px 1px var(--accent1-color);
    left: 10%;
    top: 40%;
    font-size: 3em;
}

.background img {
    width: 100%;
    height: auto;
}

.home a {
    text-align: center;
    text-decoration: none;
    background-color: #55dee0bf;
    color: var(--accent1-color);
    text-shadow: 2px 2px 3px var(--accent2-color);
    position: absolute;
    width: 10em;
    font-size: 2rem;
    z-index: top;
    left: 35%;
    justify-self: center;
    top: 60%;
    border-radius: 20em;
    border: 5px dotted var(--accent2-color);
}

.home a:hover {
    color: var(--nav-hover-link-color);
    text-shadow: 1px 1px 1px var(--accent1-color);
    background-color: rgba(255, 255, 255, 0.841);
    border-color: var(--primary-color);
}

.homeinfo {
    /* display: block; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.home form {
    color: var(--accent2-color);
    margin-bottom: 2em;
}