@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&family=Kablammo&family=Lugrasimo&family=MedievalSharp&family=Sofadi+One&family=Titillium+Web&display=swap');

:root {
    --primary-color: #55DDE0;
    --secondary-color: #33658A;
    --accent1-color: #F26419;
    --accent2-color: #F6AE2D;

    --heading-font: 'Fredericka the Great', serif;
    --paragraph-font: 'Titillium Web', serif;

    --nav-background-color: #55DDE0;
    --nav-link-color: #33658A;
    --nav-hover-link-color: #F26419;
    --nav-hover-background: #F6AE2D;
}

body {
    display: grid;
    /* grid-template-columns: auto; */
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 1%;
    margin: 1%;
    color: var(--accent2-color);
    /* justify-content: center; */
}

main {
    display: grid;
    grid-gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 1%;
}

p {
    padding: 2%;
}

img {
    max-width: 100%;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-color);
    padding-left: 1em;
    padding-right: 1em;
}

footer p {
    grid-column-start: 2;
}

footer a {
    text-decoration: none;
    /* grid-column-start: 3; */
}


header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1em;
    justify-items: center;
    align-items: center;
    /* color: black; */
    background-color: var(--secondary-color);

}

header nav {
    display: flex;
    font-size: 1.2rem;
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
}

header nav a {
    flex: 1;
    min-width: 8em;
    border: 1px solid black;
    align-content: center;
    text-align: center;
    text-decoration: none;
}

header nav a:link, header nav a:visited {
    color: var(--nav-link-color)
}

header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background);
}

section img {
    max-width: 100%;
    height: auto;
}


.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: #33648ad7; */
    background-color: var(--secondary-color);
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 1em;
    grid-column-gap: 1em;
}

.history h2 {
    grid-column: span 3;
}


div.hero {
    position: relative;
}

h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 5px var(--secondary-color);
    top: 0;
    z-index: 1;
}
article {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 45%;
    z-index: 1;
    background-color: #33648ad9;
}


article img {
    display: block;
    width: 35%;
    padding: 2%;
    height: auto;
    float: right;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* background-color: #33648ad7; */
    background-color: var(--secondary-color);
    text-align: center;
    align-items: center;
    justify-items: center;
}

.adventure h2 {
    grid-column: span 5;
}

.adventure figure {
    width: 80%;
}
