@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&family=Kablammo&family=Lugrasimo&family=MedievalSharp&family=Sofadi+One&family=Titillium+Web&display=swap');

:root {
    --primary-color: #55DDE0;
    --secondary-color: #33658A;
    --accent1-color: #F26419;
    --accent2-color: #F6AE2D;

    --heading-font: 'Fredericka the Great', serif;
    --paragraph-font: 'Titillium Web', serif;

    --nav-background-color: #55DDE0;
    --nav-link-color: #33658A;
    --nav-hover-link-color: #F26419;
    --nav-hover-background: #F6AE2D;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 1%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 1%;
}

p {
    padding: 2%;
    color: var(--secondary-color);
}

img {
    max-width: 100%;
}

footer a {
    text-decoration: none;
}

section img {
    max-width: 100%;
    height: auto;
}




div.hero {
    position: relative;
    padding: 0;
}

h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10%;
    z-index: 1;
}
article {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 60%;
    z-index: 1;
    background-color: #33648ad9;
}

.hero p {
    color: #F6AE2D;
}

article img {
    display: block;
    width: 35%;
    padding: 2%;
    height: auto;
    float: right;
}