@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&family=Kablammo&family=Lugrasimo&family=MedievalSharp&family=Sofadi+One&family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    font-family: 'Lugrasimo', serif;
    font-size: medium;
    color: darkred;
    background-color: rgba(255, 255, 0, 0.17);
    justify-items: center;
}

header {
    font-family: 'Fredericka the Great', sans-serif;
}

h1 {
    padding-top: 1em;
    border-bottom: double;
}

form {
    margin: 1em;
    padding: 1em;
    border: solid 3pt white;
    border-radius: 12pt;
    background-color: rgba(255, 255, 0, 0.17);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5em;
    margin: 0.5em;
    padding: 5pt;
    color: black;
}

legend {
    color: darkred;
}

label {
    text-align: right;
    padding-right: 1em;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    padding: 0.5em;
    justify-self: center;
    border-radius: 0.5em;
    color: white;
    background-color: darkred;
    font-weight: bolder;
    font-family: "Lugrasimo", sans-serif;
}

button:hover {
    color: darkred;
    background-color: white;
}

footer {
    text-shadow: 2px 2px 5px red;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5em;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.feedback {
    text-align: center;
    margin-top: 0.5em;
}